h1 {
    background-color: black;
    font-size: 12rem;
    text-align: center;
}

.letter{ 
    background-color: rgb(3, 22, 14);
    transition: color 1000ms;
}

html{
    background-color: black;
}
