h1 {
    background-color: rgb(5, 32, 19);
    font-size: 12rem;
    text-align: center;
}

.letter{ 
    background-color: rgb(5, 32, 19);
    transition: color 1000ms;
}

html{
    background-color: black;
}
